In [ ]:
import time
import numpy as np
import matplotlib.pyplot as plt
from lsst.rsp import get_tap_service

In [ ]:
service = get_tap_service()

## no WHERE statement

In [ ]:
query = "SELECT objectId, coord_ra, coord_dec FROM dp02_dc2_catalogs.Object"
N = 10
dt = np.zeros(N, dtype='float')

In [ ]:
for i in range(N):
    t0 = time.time()
    results = service.search(query, maxrec=1000)
    dt[i] = time.time() - t0
    print(dt[i])
    del t0, results

In [ ]:
plt.hist(np.abs(dt), bins=20)
plt.xlabel('time in seconds')

## with WHERE statement

In [ ]:
query = "SELECT objectId, coord_ra, coord_dec FROM dp02_dc2_catalogs.Object "\
        "WHERE g_calibFlux > 229000 AND g_calibFlux < 275000"
N = 1
dt = np.zeros(N, dtype='float')

In [ ]:
for i in range(N):
    t0 = time.time()
    results = service.search(query, maxrec=1000)
    dt[i] = time.time() - t0
    print(dt[i])
    del t0, results

In [ ]:
query = "SELECT objectId, coord_ra, coord_dec FROM dp02_dc2_catalogs.Object "\
        "WHERE g_calibFlux > 229000 AND g_calibFlux < 275000"
N = 1
dt = np.zeros(N, dtype='float')

In [ ]:
for i in range(N):
    t0 = time.time()
    results = service.search(query)
    dt[i] = time.time() - t0
    print(dt[i])
    del t0, results